# Node.js
node_modules/

# Compiled files
dist/
*.log
*.tgz

# Golang
*.exe
*.dll
*.so
*.dylib

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# IDE-specific files
.idea/
*.iml

# Dependency directories
vendor/
